# Java / Maven
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear
**/.mvn/wrapper/maven-wrapper.jar
**/.metadata/
**/bin/
**/tmp/
**/.classpath
**/.project
**/.settings/
**/*.iml
**/*.ipr
**/*.iws
**/.idea/

# Node / Express / NestJS
**/node_modules/
**/dist/
**/*.sqlite
**/*.db
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.env

# Sistemas Operativos e IDEs
.DS_Store
Thumbs.db
.vscode/
.history/
